#menu
  %ul
    %li
      = link_to t("activerecord.models.project"), projects_path
    %li
      = link_to t("views.menu.customer.about"), introduce_index_path
    - if (user_signed_in? && !current_user.is_staff?)
      %li
        - current_cart = current_cart(current_user.id)
        = link_to t("views.menu.customer.storage", count: current_cart.items.count), current_cart