#user-nav {
  text-align: center;
}

#languages-choosing-table{
  width: 100%;
  text-align: center;

  td{
    font-size: 10px;
  }

  td:hover{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }
}

.alert{
  color: red;
  font-style: italic;
}

.sigin-alert{
  margin-top: 20px;
}

.projects-table {
  width: 100%;
  th {
    height: 40px;
    background: #EFF0EB url(../assets/img2.gif) repeat-x;
  }
  .number{
    width: 10%;
    text-align: center;
  }
  .body {
    width: 90%;
  }
  .list_line_odd{
    background: #D0D0D0;
  }
  .list_line_even{
    background: #F0F0F0;
  }
}

.pagination{
  margin-top: 20px;
  text-align: right;
}

.new_procategory{
  .field{
    .label{
      width: 100px;
      float: left;
    }
  }
}

#new_project{
  .field{
    .label{
      width: 100px;
      float: left;
    }
  }
}

#new_attachment{
  #project{
    visibility: hidden;
  }
  #uploading{
    float: left;
    .field_with_errors{
      float: left;
      margin-right: 10px;
    }
  }
}

.procategory_description{
  margin-top: 10px;
  font-style: italic;
}

.story{
  img{
    width: 470px;
    height: 140px;
  }
}

.attachments_story{
  margin-top: 20px;
  margin-bottom: 10px;
  .number{
    float: left;
    margin-right: 10px;
  }
  .attachment_name{
    float: left;
  }
  .action {
    width: 100%;
    text-align: right;
  }
}

.footer_buttons{
  margin-top: 20px;
  text-align: right;
}

.edit_project{
  textarea{
    width: 100%;
    max-width: 100%;
    height: 200px;
  }
}

.new_project{
  textarea{
    width: 100%;
    max-width: 100%;
    height: 200px;
  }
}

#marquee_description{
  height: 50px;
}

#marquee_panel{
  height: 150px;
}

.list_line_even{
  background: #D8D8D8;
}

.list_line_odd{
  background: #E8E8E8;
}

.company_panel{
  width: 470px;
  height: 140px;
  margin-right: 470px;
}

.story_image{
  margin-top: 20px;
  margin-bottom: 20px;
  img{
    width: 224px;
    height: 140px;
  }
  float: left;
}
.story_content{
  margin-top: 20px;
  margin-bottom: 20px;
}